article {
    background: linear-gradient(
    to right in oklch, 
    hsl(98 100% 62%), 
    hsl(304 100% 59%)
  );
  
  background-clip: text;
  color: transparent;
}

@layer demo.support {
  h1 {
    font-size: 10vmin;
    line-height: 1.1;
  }

  body {
    background: light-dark(#000000, black);

    min-block-size: 100%;
    box-sizing: border-box;
    display: grid;
    place-content: center;

    font-family: system-ui;
    font-size: min(200%, 4vmin);

    padding: 5vmin;
  }

  h1, p, body {
    margin: 0;
    text-wrap: balance;
  }

  h1 {
    line-height: 3cap;
  }

  html {
    block-size: 100%;
  }

  article {
    display: grid;
    gap: 1lh;
    text-align: center;
  }
}
